// utils
@import './utils/vars';
@import './utils/visually-hidden';
@import './utils/mixin';

// base styles
@import './base/common';
@import './base/section';
@import './base/container';
@import './base/reset';

// components
@import './components/logo';
@import './components/navigation';
@import './components/button';
@import './components/modal';
@import './components/socials';
@import './components/filter-buttons';


// layouts
@import './layouts/header';
@import './layouts/hero';
@import './layouts/features';
@import './layouts/examples';
@import './layouts/team';
@import './layouts/clients';
@import './layouts/footer';
@import './layouts/portfolio-gallery';
