.logo {
  font-family: raleway, sans-serif;
  font-weight: 700;
  color: var(--accent-color);
  text-decoration: none;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  @include mq(tablet) {
    margin-right: 88px;
  }

  @include mq(desktop) {
    font-size: 26px;
    line-height: 1.19;
    margin-right: 93px;
  }
}
