.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    .modal-wrapper {
      opacity: 0;
    }
  }
}

.modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding: 40px;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @include mq(not-desktop) {
    max-width: 450px;
  }

  @include mq(desktop) {
    max-width: 528px;
  }
}

.backdrop.is-hidden .backdrop .modal-wrapper {
  opacity: 1;
}

.modal-wrapper__modal-btn {
  position: absolute;
  margin-bottom: 2px;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.modal-wrapper__modal-icon {
  fill: currentColor;
}

.modal-form,
.footer-form {
  display: flex;
  flex-direction: column;
}

.modal-form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 12px;

  @include mq(desktop) {
    line-height: 1.15;
  }
}

.modal-form__label {
  margin-bottom: 10px;
}

.modal-form__input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px 11px 11px 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &-wrapper {
    position: relative;
    display: block;
  }

  &-title {
    display: inline-block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--text-color);
  }

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }

  &.form-comment::placeholder {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.form-comment {
  height: 120px;
  resize: none;
  padding: 12px 16px;
}

.modal-form__label-comment {
  margin-bottom: 20px;
}

.modal-form__label-check {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

/* Custom checkbox block */

.custom-checkbox {
  width: 16px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--primary-text-color);
  margin-right: 8px;
  border-radius: 2px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &__icon {
    opacity: 0;
  }

  .modal-form__input-check:checked + & {
    background-color: var(--accent-color);
    border: none;
  }

  .modal-form__input-check:focus + & {
    border-color: var(--accent-color);
  }
}

.modal-form__input-check:checked + .custom-checkbox .custom-checkbox__icon {
  opacity: 1;
}

.modal-form__check-text {
  font-size: 12px;
  line-height: 1.17;
  color: var(--text-color);

  @include mq(desktop) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-form__check-link {
  font-size: 12px;
  line-height: 1.17;
  text-decoration-line: underline;
  color: var(--accent-color);

  @include mq(desktop) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-form__btn {
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
