/* Examples block */

.examples {
  &.section {
    @include mq(not-desktop) {
      display: none;
    }
  }

  padding-top: 0;

  &__title {
    margin-bottom: 50px;
    text-align: center;
    font-weight: var(--primary-font-weight);
    font-size: 36px;
    line-height: 1.17;
  }

  &__list {
    display: flex;
  }

  &__item {
    position: relative;
    flex-basis: calc((100% - 60px) / 3);
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__img {
    display: block;
  }

  &__item-text {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    background-color: rgba(47, 48, 58, 0.8);
    padding-top: 27px;
    padding-bottom: 27px;
  }
}
