/* Footer block */

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;

  &__container {
    @include mq(desktop) {
      display: flex;
      align-items: baseline;
    }
  }

  &__contacts {
    @include mq(mobile-only) {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 60px;
    }

    @include mq(tablet) {
      margin-right: 165px;
    }

    @include mq(desktop) {
      margin-right: 70px;
    }
  }

  &__logo {
    display: inline-block;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.footer-wrapper {
  @include mq(tablet) {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-bottom: 60px;
  }

  @include mq(desktop) {
    margin-bottom: 0;
  }
}

.address {
  margin-bottom: 9px;

  font-size: 14px;
  line-height: 1.71;
  color: var(--hero-text-color);
  font-style: normal;

  @include mq(not-desktop) {
    margin-bottom: 8px;
  }
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;

  @include mq(not-desktop) {
    margin-bottom: 8px;
  }
}

.footer__link {
  display: inline-block;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-join {
  @include mq(mobile-only) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }

  &__title {
    font-weight: var(--primary-font-weight);
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;

    @include mq(tablet) {
      text-align: center;
    }
  }
}

.socials__link.bg {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--hero-text-color);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.footer-form {
  @include mq(desktop) {
    margin-left: auto;
  }

  &__label {
    margin-bottom: 20px;
  }

  &__title {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;

    @include mq(desktop) {
      text-align: start;
    }
  }

  &__wrapper {
    display: flex;

    @include mq(not-desktop) {
      flex-direction: column;
      align-items: center;
    }
  }
}

.footer-form__mail {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 15px 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border-color: #ffffff;
  }

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
  }

  &:not(:placeholder-shown) {
    color: #ffffff;
  }

  @include mq(mobile) {
    display: block;
    width: 450px;
  }

  @include mq(desktop) {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
}

.footer-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  &__text {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #ffffff;
    margin-right: 10px;
  }
}
