/* Hero block */

.hero {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #2f303a;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/hero-img_sm.png);

  @include mq(retina) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero-img_sm@2x.png);
  }

  @include mq(tablet) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero-img_md.png);
    @include mq(retina) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero-img_md@2x.png);
    }
  }

  @include mq(desktop) {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero-img_lg.png);
    @include mq(retina) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero-img_lg@2x.png);
    }
  }

  &__container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    @include mq(desktop) {
      width: 1200px;
    }
  }

  &__title {
    margin-bottom: 30px;
    font-weight: 900;
    color: var(--hero-text-color);
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @include mq(desktop) {
      font-size: 44px;
      line-height: 1.36;
    }
  }
}
