/* Hero block */

.hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 480px;
  min-height: 400px;
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/hero.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @include mq(tablet) {
    max-width: 800px;
  }

  @include mq(desktop) {
    max-width: 1600px;
  }

  &__container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    @include mq(desktop) {
      width: 1200px;
    }
  }

  &__title {
    margin-bottom: 30px;
    font-weight: 900;
    color: var(--hero-text-color);
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @include mq(desktop) {
    font-size: 44px;
    line-height: 1.36;
    }
  }
}
